mixin nextConferenceCard(conference)
    .card
        h1= "#" + conference.id
        h2= conference.title
        p= conference.summary
        .speaker
            img.avatar(src="https://avataaars.io/?avatarStyle=" + conference.speaker.avataaar)
            .h-space-small
            .info
                h1= conference.speaker.name
                h2= conference.speaker.job
                .social
                    a.icon(href="http://twitter.com/"+conference.speaker.twitter)
                        img(src="images/icon-twitter.svg")
                    a.icon(href="http://github.com/"+conference.speaker.github)
                        img(src="images/icon-github.svg")

mixin next-session(session)
    #conferences.next-session
        .banner
            .banner-background
            .row1
                .titles
                    h1= session.date
                    h2= session.location
                .meetup
                    img(src="images/logo-meetup.svg")
                    a(href=session.link) Inscrivez vous
            .row2
                +nextConferenceCard(session.conferences[0])
                .h-space
                +nextConferenceCard(session.conferences[1])