include includes/head.pug
include includes/next-session.pug
include includes/flutter.pug
include includes/about.pug
include includes/sponsors.pug
include includes/upcoming-conferences.pug
include includes/contact.pug

doctype html
html
    +head(false)
    body
        include includes/bar.pug
        .body
            h2= "Prochaine session"
            +next-session(conferences.nextSession)
            .v-space
            h2= "Sponsors"
            +sponsors(sponsors, contact)
            .v-space
            h2= "Futures conférences"
            +upcoming(conferences, contact)
            .v-space
            h2= "Pourquoi Flutter ?"
            +flutter(flutter)
            .v-space
            h2= about.title
            +about(about)
            .v-space
            h2= "Contact"
            +contact(contact)